main {margin-top: 80px;}


body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  footer{
    position: fixed;
    bottom: 0;
  }
  #incorrect-login{
      text-align: center;
  }

  table{
    margin-left: 50px;
  }
  
  .row{
      text-align: center;
      line-height: 10px;
  }
  
  /*tr{
    line-height: 20px;
  }*/
  
  label{
      margin-block-start: 15px;
  }

  /*button{
    margin-block-start: 15px;
  }*/
  h2{
    text-align: center;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}



#cardbox{
  margin-left: 400px;  
}
#teachers-container{
  margin-left: 250px;
  
}
#cursos-container{
  margin-left: 250px;
  
}




canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
