{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h3 class="display-6">INFORMACIÓ ACADÈMICA 1R ADMINISTRACIÓ DE SISTEMES INFORMÀTICS EN XARXES</h3>
    <hr class="my-4">
</div>
        
<div class="container">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="teachers">Professorat</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cursos">Cursos</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- TAULA PRIMER TRIMESTRE 1 ADMINISTRACIÓ DE SISTEMES INFORMÀTICS EN XARXES -->
<h2>Dades Primer Trimestre:</h2>
<table class="table table-bordered" id="taula-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>    </th>
            <th>2n A</th>
            <th>    </th>
            <th>2n B</th>
            <th>    </th>
            <th>TOTAL 2n</th>
            <th>    </th>
        </tr>
        <tr>
            <th>    </th>
            <th> 27 </th>
            <th> % </th>
            <th> 25 </th>
            <th> % </th>
            <th> 185 </th>
            <th> % </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tot aprobat </td>
            <td> 16 </td>
            <td> 59.26% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 48 </td>
            <td> 25.9% </td>
        </tr>
        <tr>
            <td>1 o 2 suspeses </td>
            <td> 6 </td>
            <td> 22.22% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 39 </td>
            <td> 21.1% </td>
        </tr>
        <tr>
            <td>3 o 4 suspeses </td>
            <td> 4 </td>
            <td> 14.81% </td>
            <td> 10 </td>
            <td> 40.00% </td>
            <td> 49 </td>
            <td> 26.5% </td>
        </tr>
        <tr>
            <td>5 o més suspeses </td>
            <td> 1 </td>
            <td> 3.70% </td>
            <td> 3 </td>
            <td> 12.00% </td>
            <td> 49 </td>
            <td> 26.5% </td>
        </tr>
    </tbody>
</table>
<hr class="my-4">                
<!-- TAULA PRIMER TRIMESTRE 1 ADMINISTRACIÓ DE SISTEMES INFORMÀTICS EN XARXES -->

<!-- TAULA SEGON TRIMESTRE 1 ADMINISTRACIÓ DE SISTEMES INFORMÀTICS EN XARXES -->
<h2>Dades Segon Trimestre:</h2>
<table class="table table-bordered" id="taula-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>    </th>
            <th>2n A</th>
            <th>    </th>
            <th>2n B</th>
            <th>    </th>
            <th>TOTAL 2n</th>
            <th>    </th>
        </tr>
        <tr>
            <th>    </th>
            <th> 27 </th>
            <th> % </th>
            <th> 25 </th>
            <th> % </th>
            <th> 185 </th>
            <th> % </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tot aprobat </td>
            <td> 16 </td>
            <td> 59.26% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 48 </td>
            <td> 25.9% </td>
        </tr>
        <tr>
            <td>1 o 2 suspeses </td>
            <td> 6 </td>
            <td> 22.22% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 39 </td>
            <td> 21.1% </td>
        </tr>
        <tr>
            <td>3 o 4 suspeses </td>
            <td> 4 </td>
            <td> 14.81% </td>
            <td> 10 </td>
            <td> 40.00% </td>
            <td> 49 </td>
            <td> 26.5% </td>
        </tr>
        <tr>
            <td>5 o més suspeses </td>
            <td> 1 </td>
            <td> 3.70% </td>
            <td> 3 </td>
            <td> 12.00% </td>
            <td> 49 </td>
            <td> 26.5% </td>
        </tr>
    </tbody>
</table>
<hr class="my-4">                
<!-- TAULA SEGON TRIMESTRE 1 ADMINISTRACIÓ DE SISTEMES INFORMÀTICS EN XARXES -->

<!-- TAULA TERCER TRIMESTRE 1 ADMINISTRACIÓ DE SISTEMES INFORMÀTICS EN XARXES -->
<h2>Dades Tercer Trimestre:</h2>
<table class="table table-bordered" id="taula-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>    </th>
            <th>2n A</th>
            <th>    </th>
            <th>2n B</th>
            <th>    </th>
            <th>TOTAL 2n</th>
            <th>    </th>
        </tr>
        <tr>
            <th>    </th>
            <th> 27 </th>
            <th> % </th>
            <th> 25 </th>
            <th> % </th>
            <th> 185 </th>
            <th> % </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tot aprobat </td>
            <td> 16 </td>
            <td> 59.26% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 48 </td>
            <td> 25.9% </td>
        </tr>
        <tr>
            <td>1 o 2 suspeses </td>
            <td> 6 </td>
            <td> 22.22% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 39 </td>
            <td> 21.1% </td>
        </tr>
        <tr>
            <td>3 o 4 suspeses </td>
            <td> 4 </td>
            <td> 14.81% </td>
            <td> 10 </td>
            <td> 40.00% </td>
            <td> 49 </td>
            <td> 26.5% </td>
        </tr>
        <tr>
            <td>5 o més suspeses </td>
            <td> 1 </td>
            <td> 3.70% </td>
            <td> 3 </td>
            <td> 12.00% </td>
            <td> 49 </td>
            <td> 26.5% </td>
        </tr>
    </tbody>
</table>
<hr class="my-4">                
<!-- TAULA TERCER TRIMESTRE 1 ADMINISTRACIÓ DE SISTEMES INFORMÀTICS EN XARXES -->


<!--Chart & buttons -->
<div style="width: 75%">
    <canvas id="canvas"></canvas>
</div>
<!--End chart & buttons -->

<!-- List of activities  -->
<div class="col-md-12" id="activities-list">
    <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Activitat Recent</h5>
    <table class="table table-sm table-hover table-striped">
        <tbody>                                    
            <tr>
                <td>
                    <strong>1r E.S.O.</strong> ha anat a una excursió a <strong>`Centre arqueologic`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>1r E.S.O.</strong> representació de teatre a <strong>`I.E.S. Puig Castellar`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Skell</strong> deleted his post "Look at Why this is... in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Abby</strong> created a post in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--End list activities -->

<script type="text/javascript">
    var mydatasets = '{{ datasets }}';
  </script>

<script>
    
    window.onload = function() {
        var encodedStr = '{{ datasets }}';
        var parser = new DOMParser;
        var dom = parser.parseFromString(
            '<!doctype html><body>' + encodedStr,
            'text/html');
        var decodedString = dom.body.textContent;
    
        console.log(JSON.parse(decodedString));
    
    
    
    
        var barChartData = {
            labels: ["1r A", "1r B", "1r C", "1r D"],
            datasets: JSON.parse(decodedString)
        };
    
    
    
    
    
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                title:{
                    display:true,
                    text:"Informació 1r A.S.I.X."
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    };
    
    /*
    document.getElementById('randomizeData').addEventListener('click', function() {
        barChartData.datasets.forEach(function(dataset, i) {
            dataset.data = dataset.data.map(function() {
                return randomScalingFactor();
            });
        });
        window.myBar.update();
    });*/
    
    </script>

{% endblock %}