{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-6">INFORMACIÓ ACADÈMICA 3R ESO</h1>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="teachers">Professorat</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cursos">Cursos</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- TAULA PRIMER TRIMESTRE 3 ESO -->
<h2>Dades Priemer Trimestre:</h2>
<table class="table table-bordered" id="taula-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>    </th>
            <th>3r A</th>
            <th>    </th>
            <th>3r B</th>
            <th>    </th>
            <th>3r C</th>
            <th>    </th>
            <th>3r D</th>
            <th>    </th>
            <th>TOTAL 3r</th>
            <th>    </th>
        </tr>
        <tr>
            <th>    </th>
            <th> 29 </th>
            <th> % </th>
            <th> 25 </th>
            <th> % </th>
            <th> 26 </th>
            <th> % </th>
            <th> 28 </th>
            <th> % </th>
            <th> 108 </th>
            <th> % </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tot aprobat </td>
            <td> 6 </td>
            <td> 20.69% </td>
            <td> 5 </td>
            <td> 20.00% </td>
            <td> 4 </td>
            <td> 15.38% </td>
            <td> 7 </td>
            <td> 25.00% </td>
            <td> 22 </td>
            <td> 20.4% </td>
        </tr>
        <tr>
            <td>1 o 2 suspeses </td>
            <td> 3 </td>
            <td> 10.34% </td>
            <td> 5 </td>
            <td> 20.00% </td>
            <td> 7 </td>
            <td> 26.92% </td>
            <td> 4 </td>
            <td> 14.29% </td>
            <td> 19 </td>
            <td> 17.6% </td>
        </tr>
        <tr>
            <td>3 o 4 suspeses </td>
            <td> 8 </td>
            <td> 27.59% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 7 </td>
            <td> 26.92% </td>
            <td> 7 </td>
            <td> 25.00% </td>
            <td> 28 </td>
            <td> 25.9% </td>
        </tr>
        <tr>
            <td>5 o més suspeses </td>
            <td> 12 </td>
            <td> 41.38% </td>
            <td> 9 </td>
            <td> 36.00% </td>
            <td> 8 </td>
            <td> 30.77% </td>
            <td> 10 </td>
            <td> 35.71% </td>
            <td> 39 </td>
            <td> 36.1% </td>
        </tr>
    </tbody>
</table>
<hr class="my-4">
<!-- TAULA PRIMER TRIMESTRE 3 ESO -->

<!-- TAULA SEGON TRIMESTRE 3 ESO -->
<h2>Dades Segon Trimestre:</h2>
<table class="table table-bordered" id="taula-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>    </th>
            <th>3r A</th>
            <th>    </th>
            <th>3r B</th>
            <th>    </th>
            <th>3r C</th>
            <th>    </th>
            <th>3r D</th>
            <th>    </th>
            <th>TOTAL 3r</th>
            <th>    </th>
        </tr>
        <tr>
            <th>    </th>
            <th> 29 </th>
            <th> % </th>
            <th> 25 </th>
            <th> % </th>
            <th> 26 </th>
            <th> % </th>
            <th> 28 </th>
            <th> % </th>
            <th> 108 </th>
            <th> % </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tot aprobat </td>
            <td> 6 </td>
            <td> 20.69% </td>
            <td> 5 </td>
            <td> 20.00% </td>
            <td> 4 </td>
            <td> 15.38% </td>
            <td> 7 </td>
            <td> 25.00% </td>
            <td> 22 </td>
            <td> 20.4% </td>
        </tr>
        <tr>
            <td>1 o 2 suspeses </td>
            <td> 3 </td>
            <td> 10.34% </td>
            <td> 5 </td>
            <td> 20.00% </td>
            <td> 7 </td>
            <td> 26.92% </td>
            <td> 4 </td>
            <td> 14.29% </td>
            <td> 19 </td>
            <td> 17.6% </td>
        </tr>
        <tr>
            <td>3 o 4 suspeses </td>
            <td> 8 </td>
            <td> 27.59% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 7 </td>
            <td> 26.92% </td>
            <td> 7 </td>
            <td> 25.00% </td>
            <td> 28 </td>
            <td> 25.9% </td>
        </tr>
        <tr>
            <td>5 o més suspeses </td>
            <td> 12 </td>
            <td> 41.38% </td>
            <td> 9 </td>
            <td> 36.00% </td>
            <td> 8 </td>
            <td> 30.77% </td>
            <td> 10 </td>
            <td> 35.71% </td>
            <td> 39 </td>
            <td> 36.1% </td>
        </tr>
    </tbody>
</table>
<hr class="my-4">
<!-- TAULA SEGON TRIMESTRE 3 ESO -->

<!-- TAULA TERCER TRIMESTRE 3 ESO -->
<h2>Dades Tercer Trimestre:</h2>
<table class="table table-bordered" id="taula-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>    </th>
            <th>3r A</th>
            <th>    </th>
            <th>3r B</th>
            <th>    </th>
            <th>3r C</th>
            <th>    </th>
            <th>3r D</th>
            <th>    </th>
            <th>TOTAL 3r</th>
            <th>    </th>
        </tr>
        <tr>
            <th>    </th>
            <th> 29 </th>
            <th> % </th>
            <th> 25 </th>
            <th> % </th>
            <th> 26 </th>
            <th> % </th>
            <th> 28 </th>
            <th> % </th>
            <th> 108 </th>
            <th> % </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tot aprobat </td>
            <td> 6 </td>
            <td> 20.69% </td>
            <td> 5 </td>
            <td> 20.00% </td>
            <td> 4 </td>
            <td> 15.38% </td>
            <td> 7 </td>
            <td> 25.00% </td>
            <td> 22 </td>
            <td> 20.4% </td>
        </tr>
        <tr>
            <td>1 o 2 suspeses </td>
            <td> 3 </td>
            <td> 10.34% </td>
            <td> 5 </td>
            <td> 20.00% </td>
            <td> 7 </td>
            <td> 26.92% </td>
            <td> 4 </td>
            <td> 14.29% </td>
            <td> 19 </td>
            <td> 17.6% </td>
        </tr>
        <tr>
            <td>3 o 4 suspeses </td>
            <td> 8 </td>
            <td> 27.59% </td>
            <td> 6 </td>
            <td> 24.00% </td>
            <td> 7 </td>
            <td> 26.92% </td>
            <td> 7 </td>
            <td> 25.00% </td>
            <td> 28 </td>
            <td> 25.9% </td>
        </tr>
        <tr>
            <td>5 o més suspeses </td>
            <td> 12 </td>
            <td> 41.38% </td>
            <td> 9 </td>
            <td> 36.00% </td>
            <td> 8 </td>
            <td> 30.77% </td>
            <td> 10 </td>
            <td> 35.71% </td>
            <td> 39 </td>
            <td> 36.1% </td>
        </tr>
    </tbody>
</table>
<hr class="my-4">
<!-- TAULA TERCER TRIMESTRE 3 ESO -->


<!-- Chart -->
<div style="width: 75%">
    <canvas id="canvas"></canvas>
</div>
<button id="randomizeData">Randomize Data</button>
<!-- End Chart -->


<!--
<div class="container">
    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>
<br>
    <button id="randomizeData">Randomize Data</button>
    <button id="addDataset">Add Dataset</button>
    <button id="removeDataset">Remove Dataset</button>
    <button id="addData">Add Data</button>
    <button id="removeData">Remove Data</button>
    <br />
<br />    
<br />
<br />
</div>
 -->

<!-- List of activities  -->
<div class="col-md-12" id="activities-list">
    <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Activitat Recent</h5>
    <table class="table table-sm table-hover table-striped">
        <tbody>                                    
            <tr>
                <td>
                    <strong>1r E.S.O.</strong> ha anat a una excursió a <strong>`Centre arqueologic`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>1r E.S.O.</strong> representació de teatre a <strong>`I.E.S. Puig Castellar`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Skell</strong> deleted his post "Look at Why this is... in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Abby</strong> created a post in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                   <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                   <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--End list activities -->


{% endblock %}