{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-6">INFORMACIÓ ACADÈMICA 1R ESO</h1>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="teachers">Professorat</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cursos">Cursos</a>
                </li>
            </ul>
        </nav>
    </div>    
</div>
<!-- TAULA PRIMER ESO-->
<h2>Dades Primer:</h2>










<table class="table table-bordered" id="taula-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>    </th>
            <th>1r A</th>
            <th>    </th>
            <th>1r B</th>
            <th>    </th>
            <th>1r C</th>
            <th>    </th>
            <th>1r D</th>
            <th>    </th>
            <th>TOTAL 1r</th>
            <th>    </th>
        </tr>

        
       
    </thead>
    <tbody>

            {% for dataset in datasetes %}
        
            <tr>
            
                {% for data in dataset.data %}
                
                    {{data}}
                    
                    
                    <td>
                    {% if loop.index == 0 %}
                        Tot aprobat
                    {% endif %}
                    {% if loop.index == 1 %}
                        1 o 2 suspeses
                    {% endif %}
                    {% if loop.index == 2 %}
                        3 o 4 suspeses
                    {% endif %}
                    {% if loop.index == 3 %}
                        5 o més suspeses
                    {% endif %}
                    </td>
                    
                    <td> {{data}} </td>
                    -- {{nstudents}} --
                    <td> {{(data / nstudents) * 100}}% </td>
                
                {% endfor %}

            </tr>
            
            {% endfor %}

        <!--
            
            <td> 33.33% </td>
            <td> 0 </td>
            <td> 42.86% </td>
            <td> 0 </td>
            <td> 33.33% </td>
            <td> 6 </td>
            <td> 22.22% </td>
            <td> 1 </td>
            <td> 40.74% </td>
        </tr>
        <tr>
            <td>1 o 2 suspeses </td>
            <td> 3 </td>
            <td> 25.00% </td>
            <td> 4 </td>
            <td> 14.29% </td>
            <td> 9 </td>
            <td> 33.33% </td>
            <td> 7 </td>
            <td> 25.93% </td>
            <td> 10 </td>
            <td> 37.04% </td>
        </tr>
        <tr>
            <td>3 o 4 suspeses </td>
            <td> 2 </td>
            <td> 16.67% </td>
            <td> 5 </td>
            <td> 17.86% </td>
            <td> 4 </td>
            <td> 14.81% </td>
            <td> 5 </td>
            <td> 18.52% </td>
            <td> 3 </td>
            <td> 11.11% </td>
        </tr>
        <tr>
            <td>5 o més suspeses </td>
            <td> 3 </td>
            <td> 25.00% </td>
            <td> 7 </td>
            <td> 25.00% </td>
            <td> 5 </td>
            <td> 18.52% </td>
            <td> 9 </td>
            <td> 33.33% </td>
            <td> 3 </td>
            <td> 11.11% </td>
        </tr> -->
    </tbody>
</table>
<hr class="my-4">
<!-- FI TAULA PRIMER ESO -->

<!-- Chart -->
<div style="width: 75%">
    <canvas id="canvas"></canvas>
</div>
<!-- End Chart -->

<!-- List of activities  -->
<div class="col-md-12" id="activities-list">
    <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Activitat Recent</h5>
    <table class="table table-sm table-hover table-striped">
        <tbody>                                    
            <tr>
                <td>
                    <strong>1r E.S.O.</strong> ha anat a una excursió a <strong>`Centre arqueologic`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>1r E.S.O.</strong> representació de teatre a <strong>`I.E.S. Puig Castellar`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Skell</strong> deleted his post "Look at Why this is... in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Abby</strong> created a post in <strong>`Discussions`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--End list activities -->

<script type="text/javascript">
    var mydatasets = '{{ datasets }}';
</script>

<script>
window.onload = function() {
    var encodedStr = '{{ datasets }}';
    var parser = new DOMParser;
    var dom = parser.parseFromString(
        '<!doctype html><body>' + encodedStr,
        'text/html');
    var decodedString = dom.body.textContent;

    console.log(JSON.parse(decodedString));

    var barChartData = {
        labels: ["1r A", "1r B", "1r C", "1r D"],
        datasets: JSON.parse(decodedString)
    };

    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
            title:{
                display:true,
                text:"Informació 1r E.S.O."
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });
};

</script>

{% endblock %}