{% extends "layout.html" %}
{% block content %}


<div class="container">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="teachers">Professorat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cursos">Cursos</a>
        </li>         
      </ul> 
    </nav>
  </div>
</div>

<!-- Taula tasques -->
<div class="table">
  <h2>Tasques </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tasca</th>
        <th>Dia</th>
        <th>Modificar</th>
        <th>Fet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Examen E.S.O. 4</td>
        <td>15/12/2017</td>
        <td><button type="button" class="btn btn-outline-primary">Editar</button></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Examen E.S.O. 1</td>
        <td>15/12/2017</td>
        <td><button type="button" class="btn btn-outline-primary">Editar</button></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Evaluacións</td>
        <td>20/12/2017</td>
        <td><button type="button" class="btn btn-outline-primary">Editar</button></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Reunió professorat</td>
        <td>10/01/2018</td>
        <td><button type="button" class="btn btn-outline-primary">Editar</button></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Tutoria E.S.O. 1</td>
        <td>15/01/2018</td>
        <td><button type="button" class="btn btn-outline-primary">Editar</button></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Preparar examen E.S.O. 1</td>
        <td>25/02/2018</td>
        <td><button type="button" class="btn btn-outline-primary">Editar</button></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>Corregir deures E.S.O. 4</td>
        <td>26/02/2018</td>
        <td><button type="button" class="btn btn-outline-primary">Editar</button></td>
        <td><input type="checkbox"></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End taula tasques -->

<!-- Edit taula tasques -->
<div class="container">
  <button class="btn btn-outline-primary float-right" type="submit">Afegir</button>            
</div>
<!-- End edit taula tasques-->

{% endblock %}