{% extends "hide_navbar_layout.html" %}
{% block content %}

<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Inicia sessió</h2>
        <label for="inputEmail" class="sr-only">Correu</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correu" required autofocus>
        <label for="inputPassword" class="sr-only">Contrasenya</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contrasenya" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Crear conta nova</button>
    </form>  
</div> 

{% endblock %}