{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="teachers">Professorat</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cursos">Cursos</a>
                </li>
            </ul>
        </nav>
    </div>   
</div> 

<!-- LIST TEACHERS -->
<div class="container" id="teachers-container">
    <!-- ADMINISTRACIÓ  I GESTIÓ -->
    <a class="nav-link" data-toggle="collapse" href="#ag-tab" aria-controls="ag-tab" aria-expanded="false">Administració i gestió</a>
    <div class="collapse" id="ag-tab">
        <div class="card card-block">
            <a href="home_page">Ana Lancho</a>
            <a href="home_page">Anna Canalda</a>
            <a href="home_page">Juan Zabay</a>
            <a href="home_page">Marcos Alcocer</a>
            <a href="home_page">Montserrat Pérez</a>
            <a href="home_page">Pau Español</a>
            <a href="home_page">Sònia Martínez</a>
            <a href="home_page">Xavier Cruz</a>
            <a href="home_page">Xavier Fernández</a>
        </div>
    </div>
    <!-- FI ADMINISTRACIÓ  I GESTIÓ -->

    <!-- BIOLOGIA I GEOLOGIA -->
    <a class="nav-link" id="dep-bioGeo-tab" data-toggle="collapse" href="#dep-bioGeo" aria-controls="dep-bioGeo" aria-expanded="false">Biologia i geologia</a>
    <div  class="collapse" id="dep-bioGeo">
        <div class="card card-block">
            <a href="home_page"> Maite Garcia</a>
            <a href="home_page"> Carol Saniger</a>
            <a href="home_page"> Eva Panareda</a>
            <a href="home_page"> Alba Placín</a>
        </div>
    </div>
    <!-- FI BIOLOGIA I GEOLOGIA -->

    <!-- CAS -->
    <a class="nav-link" id="dep-cas-tab" data-toggle="collapse" href="#dep-cas" aria-controls="dep-cas" aria-expanded="false">CAS</a>
    <div class="collapse" id="dep-cas">
        <div class="card card-block">
            <a href="home_page">Jaime Morcillo</a>
        </div>
    </div>
    <!-- FI CAS -->

    <!-- CATALÀ -->
    <a class="nav-link" id="dep-catala-tab" data-toggle="collapse" href="#dep-catala" aria-controls="dep-catala" aria-expanded="false">Català</a>
    <div class="collapse" id="dep-catala">
        <div class="card card-block">
            <a href="home_page">Mamen Aznar</a>
            <a href="home_page">Olga Español</a>
            <a href="home_page">Germà Fornet</a>
            <a href="home_page">Carles Gil</a>
            <a href="home_page">Bernat Guarné</a>
            <a href="home_page">Mireia Piró</a>
            <a href="home_page">Carme Sánchez</a>
        </div>
    </div>
    <!-- FI CATALÀ -->

    <!-- CLASSIQUES -->
    <a class="nav-link" id="dep-classiques-tab" data-toggle="collapse" href="#dep-classiques" aria-controls="dep-classiques" aria-expanded="false">Clàssiques</a>
    <div class="collapse" id="dep-classiques">
        <div class="card card-block">
            <a href="home_page">Inés Creixell Vidal-Quadras</a>
            <a href="home_page">Carlos Mañas Moreno</a>
            <a href="home_page">Juan Antonio Sánchez</a>
        </div>
    </div>
    <!-- FI CLASSIQUES -->

    <!-- DIBUIX -->
    <a class="nav-link" id="dep-dibuix-tab" data-toggle="collapse" href="#dep-dibuix" aria-controls="dep-dibuix" aria-expanded="false">Dibuix</a>
    <div class="collapse" id="dep-dibuix">
        <div class="card card-block">
            <a href="home_page">Marta Reixach</a>
            <a href="home_page">Núria Serra</a>
        </div>
    </div>
    <!-- FI DIBUIX -->

    <!-- ECONOMIA -->
    <a class="nav-link" id="dep-economia-tab" data-toggle="collapse" href="#dep-economia" aria-controls="dep-economia" aria-expanded="false">Economia</a>
    <div class="collapse" id="dep-economia">
        <div class="card card-block">
            <a href="home_page"> ...</a>
        </div>
    </div>
    <!-- FI ECONOMIA -->

    <!-- EDUCACIÓ FÍSICA -->
    <a class="nav-link" id="dep-educacioFisica-tab" data-toggle="collapse" href="#dep-educacioFisica" aria-controls="dep-educacioFisica" aria-expanded="false">Educaciò física</a>
    <div class="collapse" id="dep-educacioFisica">
        <div class="card card-block">
            <a href="home_page">Nury ruiz</a>
            <a href="home_page">Imma Vilar</a>
            <a href="home_page">Martí Baró</a>
        </div>
    </div>
    <!-- FI EDUCACIÓ FÍSICA -->

    <!-- FILOSOFIA -->
    <a class="nav-link" id="dep-filosofia-tab" data-toggle="collapse" href="#dep-filosofia" aria-controls="dep-filosofia" aria-expanded="false">Filosofia</a>
    <div class="collapse" id="dep-filosofia">
        <div class="card card-block">
            <a href="home_page">Conxita Bosch Riera</a>
            <a href="home_page">Yolanda Moneo Benítez</a>
        </div>
    </div>
    <!-- FI FILOSOFIA -->

    <!-- EDUCACIÓ FÍSICA -->
    <a class="nav-link" id="dep-fQ-tab" data-toggle="collapse" href="#dep-fq" aria-controls="dep-fq" aria-expanded="false">Física i química</a>
    <div class="collapse" id="dep-fq">
        <div class="card card-block">
            <a href="home_page">Ana Justo</a>
            <a href="home_page">Ferran Tapia</a>
            <a href="home_page">Esther Marco</a>
            <a href="home_page">Montserrat Pagès</a>
        </div>
    </div>
    <!-- FI EDUCACIÓ FÍSICA -->

    <!-- HISTÓRIA -->
    <a class="nav-link" id="dep-historia-tab" data-toggle="collapse" href="#dep-historia" aria-controls="dep-historia" aria-expanded="false">História</a>
    <div class="collapse" id="dep-historia">
        <div class="card card-block">
            <a href="home_page">Javier Aranda</a>
            <a href="home_page">Moisés Esteve</a>
            <a href="home_page">Belinda León</a>
            <a href="home_page">Carme Mariné</a>
            <a href="home_page">Carmen Pérez</a>
            <a href="home_page">Sònia Torres</a>
        </div>
    </div>
    <!-- FI HISTÓRIA -->


    <!-- IDIOMES -->
    <a class="nav-link" id="dep-idiomes-tab" data-toggle="collapse" href="#dep-idiomes" aria-controls="dep-idiomes" aria-expanded="false">Idiomes</a>
    <div class="collapse" id="dep-idiomes">
        <div class="card card-block">
            <a href="home_page">Lourdes Nevado</a>
            <a href="home_page">Lluïsa Espinosa Roda</a>
            <a href="home_page">Diego Giménez</a>
            <a href="home_page">José Carlos González</a>
            <a href="home_page">Antonia Macías Márquez</a>
            <a href="home_page">Vicenç Guardiola Tàrrega</a>
            <a href="home_page">Mercedes Muñoz Galo</a>
            <a href="home_page">Maria Josep Pons Bassas</a>
        </div>
    </div>
    <!-- FI IDIOMES -->

    <!-- INFORMÀTICA -->
    <a class="nav-link" id="dep-informatica-tab" data-toggle="collapse" href="#dep-informatica" aria-controls="dep-informatica" aria-expanded="false">Informàtica</a>
    <div class="collapse" id="dep-informatica">
        <div class="card card-block">
            <a href="home_page">Caridad Castillo</a>
            <a href="home_page">Carlos Iglésias</a>
            <a href="home_page">Daniel Martínez</a>
            <a href="home_page">David Rodrígez</a>
            <a href="home_page">Fernando Porrino</a>
            <a href="home_page">Gerard Falcó</a>
            <a href="home_page">Joaquim Sabrià</a>
            <a href="home_page">Jordi Farrero</a>
            <a href="home_page">Jordi Hernández</a>
            <a href="home_page">Jordi Monserrat</a>
            <a href="home_page">José Enrique Lluch</a>
            <a href="home_page">Josep Manel</a>
            <a href="home_page">Maribel Perramon</a>
            <a href="home_page">Oscar Torrente</a>
            <a href="home_page">Rubén Arroyo</a>
            <a href="home_page">Salvador López</a>
            <a href="home_page">Sandra López</a>
            <a href="home_page">Teresa Tejero</a>
            <a href="home_page">Victor Carceler</a>
        </div>
    </div>
    <!-- FI INFORMÀTICA -->

    <!-- LLENGUA CASTELLANA -->
    <a class="nav-link" id="dep-llCastellana-tab" data-toggle="collapse" href="#dep-llenguaCastellana" aria-controls="dep-llenguaCastellana" aria-expanded="false">Llengua castellana</a>
    <div class="collapse" id="dep-llenguaCastellana">
        <div class="card card-block">
            <a href="home_page">Miriam Adán Fernández</a>
            <a href="home_page">Mariví Benito Medrano</a>
            <a href="home_page">José Luis Budría González</a>
            <a href="home_page">Inés Creixell Vidal-Quadras</a>
            <a href="home_page">María Hernández Fernández</a>
            <a href="home_page">Pau Navarro Jarque</a>
            <a href="home_page">Juan Antonio Sánchez Alciturri</a>
        </div>
    </div>
    <!-- FI LLENGUA CASTELLANA -->

    <!-- MATEMATIQUES -->
    <a class="nav-link" id="dep-matematiques-tab" data-toggle="collapse" href="#dep-matematiques" aria-controls="dep-matematiques" aria-expanded="false">Matemàtiques</a>
    <div class="collapse" id="dep-matematiques">
        <div class="card card-block">
            <a href="home_page">Laura Antón</a>
            <a href="home_page">Jorge Juan Barrera</a>
            <a href="home_page">Javier Gómez</a>
            <a href="home_page">Domnènec Massiques</a>
            <a href="home_page">Margarida Mercadal</a>
            <a href="home_page">Elena Silvestre</a>
        </div>
    </div>
    <!-- FI MATEMATIQUES -->

    <!-- MÚSICA -->
    <a class="nav-link" id="dep-musica-tab" data-toggle="collapse" href="#dep-musica" aria-controls="dep-musica" aria-expanded="false">Música</a>
    <div class="collapse" id="dep-musica">
        <div class="card card-block">
            <a href="home_page">Filo Atrio</a>
            <a href="home_page">Abraham Tena</a>
        </div>
    </div>
    <!-- FI MÚSICA -->

    <!-- PSICOPEDAGOGIA -->
    <a class="nav-link" id="dep-psicopedagogia-tab" data-toggle="collapse" href="#dep-psicopedagogia" aria-controls="dep-psicopedagogia" aria-expanded="false">Psicopedagogia</a>
    <div class="collapse" id="dep-psicopedagogia">
        <div class="card card-block">
            <a href="home_page"> ...</a>
        </div>
    </div>
    <!-- FI PSICOPEDAGOGIA -->

    <!-- RELIGIO -->
    <a class="nav-link" id="dep-religio-tab" data-toggle="collapse" href="#dep-religio" aria-controls="dep-religio" aria-expanded="false">Religió</a>
    <div class="collapse" id="dep-religio">
        <div class="card card-block">
            <a href="home_page"> ...</a>
        </div>
    </div>
    <!-- FI RELIGIO -->

    <!-- TECNOLOGIA -->
    <a class="nav-link" id="dep-tecnologia-tab" data-toggle="collapse" href="#dep-tecnologia" aria-controls="dep-tecnologia" aria-expanded="false">Tecnologia</a>
    <div class="collapse" id="dep-tecnologia">
        <div class="card card-block">
            <a href="home_page">Dori Cañal</a>
            <a href="home_page">Oriol Suné</a>
            <a href="home_page">Gemma Garcia</a>
            <a href="home_page">Laura Porrino</a>
            <a href="home_page">Ione Rivas</a>
            <a href="home_page">Jaime Morcillo</a>
        </div>
    </div>
    <!-- FI TECNOLOGIA -->
</div>
<!-- END LIST TEACHERS -->

<script type="text/javascript">
    $('.collapse').collapse()
</script>

{% endblock %}